.right-content {
  padding: 90px 30px;
  padding-bottom: 10px !important;
}

.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox {
  width: 48%;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left !important;
  position: relative;
  color: #fff;
  text-transform: capitalize !important;
}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
  font-size: 16px;
  font-weight: 600;
}
.dashboardBoxWrapper .dashboardBox .col1 span {
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
}
.dashboardBoxWrapper .dashboardBox .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.dashboardBoxWrapper .dashboardBox .icon svg {
  font-size: 36px;
  opacity: 0.4;
  color: #fff;
}

.toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}
.toggleIcon svg {
  font-size: 20px !important;
  color: #fff !important;
  opacity: 1 !important;
}

.chart {
  position: absolute;
  opacity: 0.06;
  bottom: 20px;
  left: 20px;
}
.chart svg {
  font-size: 110px;
  color: #000;
}

.bottomEle {
  position: relative;
  top: 15px;
}

.dropDown_menu .MuiButtonBase-root svg {
  color: #000 !important;
  font-size: 17px !important;
  margin-right: 10px !important;
}

.graphBox {
  background-image: linear-gradient(#1a50b5, #2a6ff7);
  border-radius: 10px;
}

.graphBox h4 {
  font-size: 16px;
  font-weight: 600;
}
.graphBox p {
  font-size: 13px;
  color: #fff;
  opacity: 0.7;
}

.recharts {
  padding: 0px 3px !important;
  bottom: 0 !important;
}
.areaCharts {
  opacity: 0.4;
}
.card {
  margin: 20px 0px;
  border-radius: 10px;
}
.card .hd {
  font-size: 18px;
  font-weight: 600;
  color: #403e57;
}

body.dark .card {
  background: #112143 !important;
}

body.dark .card .hd {
  color: rgba(255, 255, 255, 0.8) !important;
}

.cardFilters .col-md-3 h4 {
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: capitalize;
  color: #403e57;
}

body.dark .cardFilters .col-md-3 h4 {
  color: rgba(255, 255, 255, 0.8) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #403e57;
}

body.dark .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark span,
body.dark .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
body.dark .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: rgba(255, 255, 255, 0.9) !important;
}

body.dark .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  background-color: #1b2b4d !important;
}

body.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid #253557 !important;
  border-radius: 8px !important;
}

body.dark
  .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #b4b4b4 !important;
}

.table .thead-dark th {
  background-color: #1866ee !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 13px !important;
}

.table .tbody td {
  font-size: 14px !important;
  color: #2f2d3e;
  font-weight: 500;
}

body.dark table td {
  color: rgba(255, 255, 255, 0.5) !important;
}

body.dark .table-bordered td,
body.dark .table-bordered th {
  border: 1px solid #1b2b4d !important;
}

.actions button {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin: 0px 3px !important;
}
.actions button.secondary {
  background: rgba(203, 60, 231, 0.2) !important;
}

body.dark .actions button.secondary {
  background: #de2fff !important;
}

.actions button.success {
  background: rgba(26, 59, 183, 0.2) !important;
}
body.dark .actions button.success {
  background: #27bf68 !important;
}

.actions button.error {
  background: rgba(241, 17, 51, 0.2) !important;
}
body.dark .actions button.error {
  background: #ff304f !important;
}
.actions button svg {
  font-size: 32px !important;
}
body.dark .actions button svg {
  color: #fff !important;
}

.v-align td {
  vertical-align: middle;
}

.old,
.new {
  display: block;
  width: 100%;
}

.new {
  font-weight: bold;
}

img {
  vertical-align: middle;
}
.mc-table-product {
  align-items: center;
  display: flex;
  gap: 0 8px;
  justify-content: flex-start;
}

.mc-table-product.md img {
  height: 40px;
  width: 40px;
}

.mc-table-product img {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 7px 15px 0 rgb(0 0 0 / 6%);
  flex-shrink: 0;
  height: 45px;
  object-fit: cover;
  width: 45px;
}

.mc-table-product h6,
.mc-table-product p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mc-table-product p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0px !important;
}

.mc-table-product h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.mc-table-group {
  min-width: 70px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tr td:nth-child(2),
table tr th:nth-child(2) {
  max-width: 180px !important;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.mc-table-body tr td {
  max-width: 120px !important;
}

table td .ProductInfo h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
}

table td .ProductInfo p {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5e5d72;
  margin-bottom: 0px;
}

table.v-align td .productBox {
  width: 180px;
}

.tableFooter {
  padding-bottom: 20px;
}
.tableFooter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.tableFooter .pagination {
  margin-left: auto;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #0858f7 !important;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: #0858f7 !important;
  color: #fff !important;
}
body.dark .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  color: rgba(255, 255, 255, 0.8) !important;
}

.ratings b {
  font-weight: bold !important;
  padding: 0px 2px;
}
body.dark .ratings b {
  color: #fff !important;
}
